body {scroll-behavior: smooth;
	max-width: 1349px;
	background-color: #FFF5BA;}
nav {padding-right: 7.5%;
	padding-left: 5%;
	position: sticky;
	top:0;}
.topnav {overflow: hidden;}
.topnav a {float: left;
	display: block;
	text-align: center;
	padding-right: 5%;
	color: #730202;}
.topnav a:link {color: #730202;
	text-decoration-line: none;}
.topnav a:visited {color: #730202;
	text-decoration-line: none;}
.topnav a:active {color:#730202;
	text-decoration-line: underline;}
#navbar {float: center;
	text-align: center;
	padding-left: 73%;
	font-size: 1.3em;
	position: sticky;}
#navbar a:hover {color: #730202;
	text-decoration-line: underline;}
#title {font-family: 'Great Vibes', cursive;
font-size: 1em;
	color: #730202;
	word-spacing: 2em;}
#title a:link {color:#730202;
	text-decoration-line: none;}
#title a:visited {color: #730202;
	text-decoration-line: none;}
#title a:hover {color: #730202;
	text-decoration-line: none;
	}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
  }
::-moz-selection {color: white;
	background: #730202;}
::selection {color: white;
	background: #730202;}
.container {padding-left: 8%;
	}
a:link {color: #730202;
	text-decoration-line: none;}
a:visited {color: #730202;
	text-decoration-line: none;}
a:hover {color: #730202;
	text-decoration-line: none;}



#cit {position: relative;
	/*padding-top: 5%;
	padding-right: 8%;*/
	text-align: center;
	max-width: 77em;
	min-width: 20em;}
#tran2 { background-image: url("img_tran2.png"); 
	background-position: left top; 
	background-repeat: no-repeat;
	padding-right: 19%;
	padding-left: 5%;
	max-width: 12em;
	min-width: 4.5em;
	height: auto;} 
#tran3 { background-image: url("img_tran3.png"); 
	background-position: right top; 
	background-repeat: no-repeat;
	padding-left: 19%; 
	padding-right: 5%;
	/*max-width: 192.66px;
	min-width: 72.25px;*/
	max-width: 12em;
	min-width: 4.5em;
	height: auto;} 
#tran1 { background-image: url("img_tran1.png"); 
	background-position: left bottom; 
	background-repeat: no-repeat; 
	padding-top: 3%;
	padding-right: 19%;
	padding-left: 5%;
	max-width: 12em;
	min-width: 4.5em;
	height: auto;}
#tran4 {background-image: url("img_tran4.png"); 
	background-position: right bottom; 
	background-repeat: no-repeat; 
	padding-top: 3%;
	padding-left: 19%; 
	padding-right: 5%;
	max-width: 12em;
	min-width: 4.5em;
	height: auto;}
#tran1 #tran2 #tran3 #tran4 {position: fixed;}
.centered {position: absolute;
	/*left: 34%;
	right: 29%;
	bottom: 9%;
	transform: translate(-34%, -29%,-9%);*/
	top: 50%;
	left: 45%;
	transform: translate(-50%, -45%);  }
section {text-align: center;
	font-family: 'Quicksand', sans-serif;
	color:#730202;
	font-size: auto;
	padding-right: 11%;
	padding-left: 5%;
	}
h1 {font-family: 'Great Vibes', cursive;
	word-spacing: 0.5em;
	font-size: 75%;
	font-weight: bold;
	color: #730202;
	text-align: right;}
#bio {position: relative;
	padding-top: 6%;
	padding-left: 2%
	}
div { font-family: 'Quicksand', sans-serif;
	color:#730202;
	font-size: 1em;}
#portrait { width: 30%;
	height: auto;
	left: 40%;
	border: 4px solid white; 
	border-radius: 3%;}
p.text1::first-letter {font-size: 3em;
	color: #F20505;
	text-transform: uppercase;}
p.text1 {width: 16em;
	word-wrap: break-word;
	word-break: keep-all;
	text-align: justify;}
p.text2 {width: 16em;
	word-wrap: break-word;
	word-break: keep-all;
	text-align: justify;}
.row {display: flex;
	flex-direction: row;}
.column {display: flex;
	flex-direction: column;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
	}
#c2 {padding-top: 2%;}
#c3 {padding-top: 3%}
#c2 #c3 {font-size: 1em;}
#footer {position: relative;
	text-align: center;}
.container-fluid {position: relative;
	top: 5%;
	padding-top: 2%;
	padding-bottom: 5%;
	background-color: #730202;
	word-spacing: 2em;}
.container-fluid a:link {color: white;}
.container-fluid a:visited {color: white;}
.container-fluid a:hover {color: #FFF5BA;
	padding-bottom: 3%;}
