body {scroll-behavior: smooth;
  background-color: #FFF5BA;
  font-family: 'Quicksand', sans-serif;}
nav {padding-right: 7.5%;
  padding-left: 5%;
  position: sticky;
  top:0;}
.topnav {overflow: hidden;}
.topnav a {float: left;
  display: block;
  text-align: center;
  padding-right: 5%;
  color: #730202;}
.topnav a:link {color: #730202;
  text-decoration-line: none;}
.topnav a:visited {color: #730202;
  text-decoration-line: none;}
.topnav a:active {color:#730202;
  text-decoration-line: underline;}
#navbar {float: center;
  text-align: center;
  padding-left: 73%;
  font-size: 1.3em;
  position: sticky;}
#navbar a:hover {color: #730202;
  text-decoration-line: underline;}
#title {font-family: 'Great Vibes', cursive;
font-size: 1em;
  color: #730202;
 }
#title a:link {color:#730202;
  text-decoration-line: none;}
#title a:visited {color: #730202;
  text-decoration-line: none;}
#title a:hover {color: #730202;
  text-decoration-line: none;
  }
::-moz-selection {color: white;
  background: #730202;}
::selection {color: white;
  background: #730202;}
.container {padding-left: 8%;
  }
a:link {color: #730202;
  text-decoration-line: none;}
a:visited {color: #730202;
  text-decoration-line: none;}
a:hover {color: #730202;
  text-decoration-line: none;}

.container {max-width: 84em;
  padding-left: 0;}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;
  padding-right: 2%;
  padding-left: 2%;}

.slideshow-container {/*padding left*/
  /*max width 1349px*/
 position: relative;
 /*margin auto*/
  text-align: center;
}

#ms2 { padding-left: 5%;
  text-align: center;}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 70%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #A60303;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.5;
}


.next {
  right: 25%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #E8D597;
  color: #730202;
}
h2 {position: relative;
  padding-left: 15%;
  padding-top: 3%;
   font-family: 'Great Vibes', cursive;
font-size: 1.7em;
  color: #730202;
  }

h3 {font-weight: bold;
  font-style: italic;
  color: #730202;
    }

h4 {font-family: 'Great Vibes', cursive;
  font-size: 1.4em;
  color: #730202;
}

h5 {position: relative;
  right: 18%;
color: #730202;}

 .column {display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 100%;
  text-align: center;
  }

  #infoex {margin-right: 2%;
  margin-left: 2%; 
  border-style: none;
  background-color: #FFE1A6;
  padding: 2%;
  font-family: 'Quicksand', sans-serif;
  color:#730202;}

#footer {position: relative;
	width: 100%;
	text-align: center;
		}
.container-fluid {position: relative;
	top: 5%;
	padding-top: 2%;
	padding-bottom: 5%;
	word-spacing: 2em;}
.container-fluid a:link {color: #730202;}
.container-fluid a:visited {color: #730202;}
.container-fluid a:hover {color: #730202;
	padding-bottom: 3%;}
